@charset "UTF-8";
/* Reset de margenes y bordes*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*VARIABLES*/
.center, .testimonios, #h3Colabora, #botonColabora, .h3espacioTrabajo, .contactoDescripcion, #h2Equipo, .cardNosotros {
  justify-content: center;
  text-align: center;
}

/* Ingreso de font*/
body {
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #04021E;
  color: white;
}

/*RESALTADO DE TEXTOS*/
.resaltartext {
  color: #FF9500;
  font-weight: bold;
  margin-top: 40px;
}

.textCarousel {
  letter-spacing: 2px;
  color: #FF9500;
  text-shadow: 1px 1px 2px rgb(20, 20, 20);
}

.textVenezuela {
  font-weight: bold;
  color: #FF9500;
}

#resaltarNosotros {
  color: #C9FF5A;
  font-weight: bold;
}

.navbar {
  margin-top: 40px;
}
.navbar .colorLink {
  color: white;
}

header nav {
  display: flex;
  color: white;
}
header nav ul {
  display: flex;
  color: white;
}
header nav ul li {
  display: flex;
  color: white;
}
header nav ul li a {
  display: flex;
  color: white;
  align-items: center;
}

#navbarNav {
  justify-content: space-between;
  color: white;
}

/*Tamaño de icono de redes sociales en el nav bar*/
.fab {
  height: 30px;
}

#botonSuscribete {
  border-radius: 24px;
}

/*Arreglos de la seccion Main*/
#cajaPrincipal {
  margin-bottom: 200px;
  margin-top: 200px;
  letter-spacing: 2px;
}

#textCuriosidades {
  margin-top: 50px;
}

/*Areglos del acordeon*/
.acordeonBox {
  margin-top: 100px;
}

.acordeonTitulo {
  display: flex;
  flex-direction: row-reverse;
}
.acordeonTitulo .h3Acordeon {
  color: white;
}
.acordeonTitulo .iconoAcordeon {
  height: 30px;
  margin-right: 10px;
}

.bgAcordeon {
  background-color: #211F41;
  color: white;
}

/*TERCERA SECCIÓN*/
#terceraCaja {
  margin-top: 100px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

/*Card Nosotros*/
.cardNosotros {
  border-radius: 15px;
  background-color: #211F41;
}

#mision {
  text-align: justify;
}

/*Card topicos*/
.lineas {
  color: #7976A8;
}

.iconosVarios {
  height: 30px;
  text-align: justify;
  margin-top: 15px;
}

/*Seccion Video*/
#video {
  margin-top: 200px;
}

/*Pagina Nosotros*/
.h2Nosotros {
  text-align: center;
}

#containerPico {
  margin-top: 100px;
}

/*Arreglo de imagenes*/
#imgPico {
  border-radius: 60px 0 0 60px;
}

#imgCielo {
  border-radius: 0 60px 60px 0;
}

/*Arreglos pagina Equipo*/
/*Secciones de equipo*/
.contactoDescripcion {
  margin-top: 50px;
}

#textoEquipo {
  text-align: justify;
}

/*Galeria en equipo*/
.accordian {
  width: 100%;
  height: 500px;
  overflow: hidden;
  /*Time for some styling*/
  margin: 100px auto;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

.accordian ul {
  width: 2000px;
}

.accordian li {
  position: relative;
  display: block;
  width: 160px;
  float: left;
  border-left: 1px solid #888;
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  /*Transitions to give animation effect*/
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  /*If you hover on the images now you should be able to 
  see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {
  width: 40px;
}

/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {
  width: 640px;
}

.accordian li img {
  display: block;
}

.h3espacioTrabajo {
  margin-top: 80px;
  color: #FF9500;
}

/*Image title styles*/
.image_title {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 640px;
}

.image_title a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 20px;
  font-size: 16px;
}

/*Pagina Unirme*/
#botonColabora {
  border-radius: 24px;
  margin-bottom: 10px;
}
#botonColabora img {
  height: 20px;
}

#fondoColabora {
  background-color: #211F41;
  color: white;
  text-align: justify;
  border-radius: 40px 40px 40px 40px;
  height: 100%;
  width: 100%;
  margin-bottom: 100px;
}

.testimonios {
  margin-bottom: 50px;
  color: #FF9500;
}

/*Pagina contacto*/
.inputContacto {
  border: 2px solid #7976A8;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding-top: 10px;
}

#mensaje {
  border: 2px solid #7976A8;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding-top: 10px;
  font-size: small;
  text-align: start;
  padding-left: 10px;
  letter-spacing: 1px;
}

#botonContacto {
  color: #7976A8;
  margin-top: 10px;
  border-radius: 24px;
}

#nombre {
  text-align: start;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: small;
  letter-spacing: 1px;
}

#email {
  text-align: start;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: small;
  letter-spacing: 1px;
}

/*Footer*/
.footer {
  border-radius: 56px 56px 0 0;
  margin-top: 200px;
  background: #211F41;
}

.copy {
  color: #7976A8;
  margin: 0 0 20px 30px;
  font-size: small;
  font-weight: lighter;
}

.redesFooter img {
  margin-top: 50px;
  height: 50px;
}

#footerSection {
  justify-content: space-between;
  margin: 0 20px 20px 20px;
}

.banderaFooter {
  margin-top: 50px;
  text-align: right;
}
.banderaFooter img {
  height: 50px;
}

@media screen and (min-width: 992px) {
  .card .card-body {
    background-color: #211F41;
    color: white;
  }
}
@media screen and (max-width: 991px) {
  .card .card-body {
    background-color: #211F41;
    color: white;
  }
}
@media screen and (max-width: 767px) {
  #mobileEquipo {
    margin-top: 50px;
  }
  .card .card-body {
    background-color: #211F41;
    color: white;
  }
  .redesFooter img {
    margin-top: 50px;
    height: 30px;
  }
  .contactoDescripcion {
    margin-top: 30px;
  }
  #footerSection {
    justify-content: center;
    margin: 0 20px 20px 20px;
  }
  .banderaFooter {
    margin-top: 50px;
    text-align: right;
  }
  .banderaFooter img {
    height: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
